<html>
    <head>
        <title>El Blog de Mariela</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mi primer Blog</a></h1>
        </div>

        <div>
            <p>published: 22.01.2021, 11.34</p>
            <h2><a href="">Mi primera publicación</a></h2>
            <p>¿Cómo está quedando?, ¿te gusta?
            </p>
        </div>

        <div>
            <p>published:  22.01.2021, 11.34</p>
            <h2><a href="">Mi segunda publicación</a></h2>
            <p>Python, Django, Html.</p>
        </div>
    </body>
</html>